<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/roslib@1/build/roslib.js"></script>
    <title>Interactive ROS Console</title>
</head>
<body>
    <div id="app">
        <h1>ROS Interactive Console</h1>
        <div>
            <textarea v-model="command" placeholder="Enter ROS command"></textarea>
            <button @click="executeCommand">Execute</button>
            <button @click="clearConsole">Clean</button>
        </div>
        <div>
            <h2>Console Output</h2>
            <pre v-for="(entry, index) in outputLog.reverse()" :key="index">{{ entry }}
                <hr>
            </pre>
        </div>
    </div>

    <script type="module">
        import { EventDispatcherController,EventDispatcherControllerTest } from "./roslibpro/EventDispatcher.js";
        import { sensor_msgs, rdt_interfaces, visualization_msgs, 
                 nav_msgs, geometry_msgs, std_msgs , RosAbstractModel, RosRoot } from "./roslibpro/RosMessage.js";
        
        class VisModel extends RosAbstractModel{
            constructor(empty=false) {
                super(empty);
                if(empty)return;
                this.___pubsub = 'pub';

                // std_msgs/msg/Int32
                this.markers = new visualization_msgs.msg.Marker();

            }
        }

        class AppModel extends RosAbstractModel{
            constructor(empty=false) {
                super(empty);
                if(empty)return;
                this.___pubsub_ros_model = 'pub';

                // Publishers
                this.app_state = new std_msgs.msg.Int32();

                // Subscribers
                this._operation_cmd = new std_msgs.msg.String();
                // this._vis = new VisModel()._toSubModel();

            }
        }

        
        // const v = new VisModel();
        // console.log(v);
        // console.log(v._switchModel());
        // const a = new AppModel();
        // console.log(a);
        // console.log(a._switchModel());

        // a._randomSetMembers();
        // console.log(a.app_state,a.app_state.getTopicType());

        const root = new RosRoot();
        root.app = new AppModel();
        console.log(root.all_list());

        root.connect('192.168.1.3:9090');

        window.root = root;
        // do with ros
        // root.app.app_state.pub(10);
        // root.app._operation_cmd.sub((msg)=>{console.log(msg)});

        // // do with ros the same        
        // root.pub("/app/app_state",10)          
        // root.sub("/app/operation_cmd",(msg)=>{console.log(msg)});

        const app = Vue.createApp({
            data() {
                return {
                    command: '',
                    outputLog: [], // Array to keep track of all outputs
                    visModel: null,
                    appModel: null,
                    root: null,
                };
            },
            mounted() {
                this.initializeModels();
            },
            methods: {
                initializeModels() {
                    this.visModel = new VisModel();
                    this.appModel = new AppModel();
                    this.root = new RosRoot();
                    this.root.a = this.appModel;
                },
                executeCommand() {
                    try {
                        const result = eval(`${this.command}`);
                        if(typeof result === 'string'){this.outputLog.push(result)}
                        else{this.outputLog.push(JSON.stringify(result, null, 2));}
                    } catch (error) {
                        this.outputLog.push(`Error: ${error.message}`);
                    }
                    this.command = ''; // Clear input after execution
                },
                clearConsole() {
                    this.outputLog = []; // Clear the output log
                }
            }
        });

        app.mount('#app');
    </script>
</body>
</html>
